  /* General style  */
.aid-treedown { 

}
/* All Nodes  */
.aid-treedown-node {
 

} 
/* Root Node */ 
.aid-treedown.aid-treedown-node {
    
  }
/* Root  Node Button */ 
.aid-treedown.aid-treedown-node >button{
 
  }
  /* Sub Node  */
 .aid-treedown-node:not(.aid-treedown) {
  

  }
 /* Sub Node Button */
 .aid-treedown-node:not(.aid-treedown)> button {
   

    /* same as .dropdown-item   */
        display: block;
        width: 100%;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        clear: both;
        font-weight: 400;
        color: var(--bs-dropdown-link-color);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-radius: var(--bs-dropdown-item-border-radius,0);
     

  }
 
  /* Hidden menu */
  .aid-treedown-hidemenu > *:not(:first-child) {
    display: none;
  }

/* locate caret to the right */
  .aid-treedown .dropdown-toggle::after{
    /* color:red; */
    /* @todo add align-caret-right feature */
  }
 


 
  /* Drawer Root Node */ 
  .aid-treedown-drawer > *  >.aid-treedown.aid-treedown-node {
    background-color: red!important;
    height: 0;
    width: 0;
  
  

}

/* Drawer Root Node Button */ 
.aid-treedown-drawer > *  >.aid-treedown.aid-treedown-node >button{
  
  max-width: 0!important;
  max-height: 0!important;
  padding: 0!important;
  margin: 0!important;
  border:0;
  
  }

  
  /* Drawer Sub Node  */
  .aid-treedown-drawer  .aid-treedown-node:not(.aid-treedown) {
  

  }
 /* Drawer Sub Node Button */
 .aid-treedown-drawer  .aid-treedown-node:not(.aid-treedown)> button {
   
 
  }

 /* Drawer First dropdown-menu */ 
 .aid-treedown-drawer > *  >.aid-treedown.aid-treedown-node>.dropdown-menu {
  margin-top: -18px;
 
 
}
  /* Drawer All dropdown-menu */ 
  .aid-treedown-drawer    .aid-treedown-node>.dropdown-menu {
    /* background-color: blue!important; */
    width: 100%;
    border-radius: 0px;
    
  }

  /* offcanvas-body modifications */
.aid-treedown-drawer >   .offcanvas-body{
  padding: 0!important;
}

  /* offcanvas-header modifications */
  .aid-treedown-drawer >   .offcanvas-header{
    
  }